body {
  font-family: "Poppins", sans-serif;
  color: white;
  min-height: 10000px;
}

/* phone */
@media (max-width: 575.98px) {
  html {
    font-size: 55%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

p {
  font-size: 1.25em;
}

.hero .content h1 {
  font-size: 5em;
  color: white;
}

.about {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.centered-text {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.wider-text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.responsive-img-half {
  max-width: 60%;
  object-fit: cover;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding-bottom: 10rem;
}

.team {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  min-height: 100vh;
  background-image: url(img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.team .content {
  padding-top: 100px;
}

.team .card-img-top {
  height: 200px;
  object-fit: cover;
}
